Flask==3.0.3
SQLAlchemy==2.0.38
pandas==2.2.3
dash==3.0.4
cryptography==44.0.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
gunicorn==23.0.0
mysql-connector-python==9.3.0
